{% extends 'base.html.twig' %}

{% block title %}Symfony conferences and events - {{ parent() }}{% endblock %}

{% block main %}
    <div class="px-4 pb-4 py-md-5 my-3 text-center">
        <h1 class="display-5 fw-bold">
            Upcoming Symfony conferences and events
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Don't miss any events in the Symfony community
            </p>
        </div>
    </div>

    <div>
        <h2>Upcoming events & meetups</h2>
        {% if upcomingEvents|length > 0 %}
            <div class="row mt-2 row-cols-1 row-cols-md-3 g-4">
                {% for event in upcomingEvents %}
                    <div class="col col-md-6 col-lg-4">
                        {{ include('event/_event.html.twig', {'event': event}) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <p>No upcoming events</p>
            </div>
        {% endif %}
    </div>

    <div class="mt-5">
        <h2>Past events & meetups</h2>
        <div class="row mt-2 row-cols-1 row-cols-md-3 g-4">
            {% for event in pastEvents %}
                <div class="col col-md-6 col-lg-4">
                    {{ include('event/_event.html.twig', {'event': event}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
