version: 2

updates:
    # Maintain dependencies for GitHub Actions
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
      labels:
          - "github-actions"
          - "dependencies"

    # Maintain dependencies for Composer
    - package-ecosystem: "composer"
      directory: "/"
      schedule:
          interval: "monthly"
      labels:
          - "php"
          - "dependencies"
      groups:
          symfony:
              patterns:
                  - "symfony/*"
          phpstan:
              patterns:
                  - "phpstan/*"
          twig:
              patterns:
                  - "twig/*"

    # Maintain dependencies for PHP CS Fixer
    - package-ecosystem: "composer"
      directory: "/tools/php-cs-fixer/"
      schedule:
          interval: "monthly"
      labels:
          - "php"
          - "dependencies"

    # Maintain dependencies for Rector
    - package-ecosystem: "composer"
      directory: "/tools/rector/"
      schedule:
          interval: "monthly"
      labels:
          - "php"
          - "dependencies"
