includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
    doctrine:
        objectManagerLoader: tests/object-manager.php
    excludePaths:
        - tests/object-manager.php
