parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\CommunityEvent\\\\EventScraping\\:\\:fetch\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommunityEvent/EventScraping.php

		-
			message: "#^Method App\\\\Job\\\\FranceTravail\\\\FranceTravailApi\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailApi.php

		-
			message: "#^Cannot access offset 'entreprise' on array\\|bool\\|float\\|int\\|string\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Cannot access offset 'intitule' on array\\|bool\\|float\\|int\\|string\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Cannot access offset 'lieuTravail' on array\\|bool\\|float\\|int\\|string\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Cannot access offset 'origineOffre' on array\\|bool\\|float\\|int\\|string\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Method App\\\\Job\\\\FranceTravail\\\\FranceTravailJobProvider\\:\\:isOfferCheckConditions\\(\\) has parameter \\$jobOffer with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Parameter \\#1 \\$jobOffer of method App\\\\Job\\\\FranceTravail\\\\FranceTravailJobProvider\\:\\:isOfferCheckConditions\\(\\) expects array, array\\|bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/Job/FranceTravail/FranceTravailJobProvider.php

		-
			message: "#^Method App\\\\Job\\\\Scraping\\\\JobScraper\\:\\:scrap\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/Scraping/JobScraper.php

		-
			message: "#^Method App\\\\Job\\\\Scraping\\\\JobScraper\\:\\:scrap\\(\\) should return array but returns array\\|null\\.$#"
			count: 1
			path: src/Job/Scraping/JobScraper.php

		-
			message: "#^PHPDoc tag @var for variable \\$decodedData has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/Scraping/JobScraper.php

		-
			message: "#^Method App\\\\Job\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:crawl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Job\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:getLocation\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Job\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:shouldSkip\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Mailjet\\\\MailjetApi\\:\\:addContactToList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/MailjetApi.php

		-
			message: "#^Method App\\\\Mailjet\\\\MailjetApi\\:\\:createContact\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/MailjetApi.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftRequest\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftRequest.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraftContent\\\\CreateCampaignDraftContentResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraftContent/CreateCampaignDraftContentResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraftContent\\\\CreateCampaignDraftContentResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraftContent/CreateCampaignDraftContentResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\ManageContact\\\\ManageContactResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/ManageContact/ManageContactResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\ManageContact\\\\ManageContactResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/ManageContact/ManageContactResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\SendCampaignDraft\\\\SendCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/SendCampaignDraft/SendCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\SendCampaignDraft\\\\SendCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/SendCampaignDraft/SendCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftRequest\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftRequest.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftResponse.php

		-
			message: "#^Cannot access offset 'text' on mixed\\.$#"
			count: 1
			path: src/MessageHandler/ClassifyHandler.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/MessageHandler/ClassifyHandler.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/MessageHandler/ClassifyHandler.php

		-
			message: "#^Method App\\\\Repository\\\\CommunityEvent\\\\EventRepository\\:\\:findPastEvents\\(\\) should return array\\<App\\\\Entity\\\\CommunityEvent\\\\Event\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/CommunityEvent/EventRepository.php

		-
			message: "#^Method App\\\\Repository\\\\CommunityEvent\\\\EventRepository\\:\\:findUpcomingEvents\\(\\) should return array\\<App\\\\Entity\\\\CommunityEvent\\\\Event\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/CommunityEvent/EventRepository.php

		-
			message: "#^Method App\\\\Security\\\\User\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: src/Security/User.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php
