parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Analytics\\\\EventRequestInterface\\:\\:body\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Analytics/EventRequestInterface.php

		-
			message: "#^Method App\\\\Analytics\\\\EventRequestInterface\\:\\:headers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Analytics/EventRequestInterface.php

		-
			message: "#^Method App\\\\Analytics\\\\Plausible\\\\EventRequest\\:\\:create\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Analytics/Plausible/EventRequest.php

		-
			message: "#^Method App\\\\Analytics\\\\Plausible\\\\EventRequest\\:\\:headers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Analytics/Plausible/EventRequest.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, int\\<0, max\\> given\\.$#"
			count: 1
			path: src/Broadcast/Twitter/TwitterApi.php

		-
			message: "#^Parameter \\#1 \\$string of function rawurlencode expects string, int\\<1, max\\>\\|string given\\.$#"
			count: 2
			path: src/Broadcast/Twitter/TwitterApi.php

		-
			message: "#^Method App\\\\CommunityEvent\\\\EventScraping\\:\\:fetch\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommunityEvent/EventScraping.php

		-
			message: "#^Parameter \\#1 \\$uri of static method League\\\\Uri\\\\Uri\\:\\:createFromString\\(\\) expects string\\|Stringable, string\\|null given\\.$#"
			count: 1
			path: src/Controller/EventController.php

		-
			message: "#^Cannot access offset 'email' on mixed\\.$#"
			count: 1
			path: src/Controller/JobController.php

		-
			message: "#^Parameter \\#1 \\$email of class App\\\\Subscription\\\\SubscribeMailingListCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/JobController.php

		-
			message: "#^Parameter \\#2 \\$amount of class App\\\\Donation\\\\Command\\\\CreateDonationPaymentUrlCommand constructor expects int, mixed given\\.$#"
			count: 1
			path: src/Controller/JobController.php

		-
			message: "#^Parameter \\#1 \\$abstract of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setAbstract\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$attendanceMode of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setAttendanceMode\\(\\) expects App\\\\CommunityEvent\\\\AttendanceMode, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$country of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setCountry\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$description of method App\\\\Entity\\\\News\\\\Entry\\:\\:setDescription\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$endDate of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setEndDate\\(\\) expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$link of method App\\\\Entity\\\\News\\\\Entry\\:\\:setLink\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$location of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setLocation\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$name of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setName\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$publishedAt of method App\\\\Entity\\\\News\\\\Entry\\:\\:setPublishedAt\\(\\) expects DateTimeImmutable\\|null, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$startDate of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setStartDate\\(\\) expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$tags of method App\\\\Entity\\\\Job\\:\\:setTags\\(\\) expects array\\<string\\>, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$title of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$title of method App\\\\Entity\\\\News\\\\Entry\\:\\:setTitle\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$url of method App\\\\Entity\\\\CommunityEvent\\\\Event\\:\\:setUrl\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$uuid of static method Ramsey\\\\Uuid\\\\Uuid\\:\\:fromString\\(\\) expects string, mixed given\\.$#"
			count: 3
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#2 \\$datetime of static method DateTimeImmutable\\:\\:createFromFormat\\(\\) expects string, mixed given\\.$#"
			count: 3
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#2 \\$location of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#3 \\$employmentType of class App\\\\Entity\\\\Job constructor expects App\\\\Job\\\\EmploymentType, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#4 \\$organization of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#5 \\$url of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Property App\\\\Job\\\\Command\\\\PostJobOfferCommand\\:\\:\\$tags type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Job/Command/PostJobOfferCommand.php

		-
			message: "#^Method App\\\\Mailjet\\\\MailjetApi\\:\\:addContactToList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/MailjetApi.php

		-
			message: "#^Method App\\\\Mailjet\\\\MailjetApi\\:\\:createContact\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/MailjetApi.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftRequest\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftRequest.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraft\\\\CreateCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraft/CreateCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraftContent\\\\CreateCampaignDraftContentResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraftContent/CreateCampaignDraftContentResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\CreateCampaignDraftContent\\\\CreateCampaignDraftContentResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/CreateCampaignDraftContent/CreateCampaignDraftContentResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\ManageContact\\\\ManageContactResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/ManageContact/ManageContactResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\ManageContact\\\\ManageContactResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/ManageContact/ManageContactResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\SendCampaignDraft\\\\SendCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/SendCampaignDraft/SendCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\SendCampaignDraft\\\\SendCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/SendCampaignDraft/SendCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftRequest\\:\\:__construct\\(\\) has parameter \\$recipients with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftRequest.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftRequest\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftRequest.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftResponse\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftResponse.php

		-
			message: "#^Method App\\\\Mailjet\\\\Model\\\\TestCampaignDraft\\\\TestCampaignDraftResponse\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Mailjet/Model/TestCampaignDraft/TestCampaignDraftResponse.php

		-
			message: "#^Cannot access offset 'text' on mixed\\.$#"
			count: 2
			path: src/MessageHandler/Job/ClassifyHandler.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 2
			path: src/MessageHandler/Job/ClassifyHandler.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/MessageHandler/Job/ClassifyHandler.php

		-
			message: "#^Method App\\\\News\\\\Aggregator\\\\AggregateNews\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/News/Aggregator/AggregateNews.php

		-
			message: "#^Method App\\\\News\\\\Aggregator\\\\FetchArticlesFromFeed\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/News/Aggregator/FetchArticlesFromFeed.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiApi.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiApi.php

		-
			message: "#^Cannot access offset 'description' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'entreprise' on mixed\\.$#"
			count: 2
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'intitule' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'libelle' on mixed\\.$#"
			count: 3
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'lieuTravail' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'logo' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'natureContrat' on mixed\\.$#"
			count: 2
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'nom' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'origineOffre' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'salaire' on mixed\\.$#"
			count: 2
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'secteurActiviteLibe…' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'typeContrat' on mixed\\.$#"
			count: 2
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot access offset 'urlOrigine' on mixed\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Method App\\\\Provider\\\\PoleEmploi\\\\PoleEmploiJobProvider\\:\\:isOfferCheckConditions\\(\\) has parameter \\$jobOffer with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\#1 \\$description of method App\\\\Entity\\\\Job\\:\\:setDescription\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\#1 \\$industry of method App\\\\Entity\\\\Job\\:\\:setIndustry\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\#1 \\$jobOffer of method App\\\\Provider\\\\PoleEmploi\\\\PoleEmploiJobProvider\\:\\:isOfferCheckConditions\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\#1 \\$organizationImageUrl of method App\\\\Entity\\\\Job\\:\\:setOrganizationImageUrl\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\#1 \\$salary of method App\\\\Entity\\\\Job\\:\\:setSalary\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\$location of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\$organization of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\$title of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Parameter \\$url of class App\\\\Entity\\\\Job constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Provider/PoleEmploi/PoleEmploiJobProvider.php

		-
			message: "#^Method App\\\\Provider\\\\Scraping\\\\JobScraper\\:\\:scrap\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/Scraping/JobScraper.php

		-
			message: "#^Method App\\\\Provider\\\\Scraping\\\\JobScraper\\:\\:scrap\\(\\) should return array but returns array\\|null\\.$#"
			count: 1
			path: src/Provider/Scraping/JobScraper.php

		-
			message: "#^PHPDoc tag @var for variable \\$decodedData has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/Scraping/JobScraper.php

		-
			message: "#^Method App\\\\Provider\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:crawl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Provider\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:getLocation\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Provider\\\\WelcometotheJungle\\\\WelcometotheJungleClient\\:\\:shouldSkip\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/WelcometotheJungle/WelcometotheJungleClient.php

		-
			message: "#^Method App\\\\Repository\\\\JobRepository\\:\\:jobsByEmploymentType\\(\\) should return array\\<App\\\\Entity\\\\Job\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/JobRepository.php

		-
			message: "#^Method App\\\\Repository\\\\JobRepository\\:\\:jobsByLocationType\\(\\) should return array\\<App\\\\Entity\\\\Job\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/JobRepository.php

		-
			message: "#^Method App\\\\Security\\\\User\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/User.php

		-
			message: "#^Property App\\\\Security\\\\User\\:\\:\\$roles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/User.php

		-
			message: "#^Parameter \\#1 \\$contactListId of class App\\\\Mailjet\\\\Model\\\\ManageContact\\\\ManageContactRequest constructor expects int, mixed given\\.$#"
			count: 1
			path: src/Subscription/MailjetSubscriptionAdapter.php

		-
			message: "#^Parameter \\#1 \\$body of class Symfony\\\\Component\\\\HttpClient\\\\Response\\\\MockResponse constructor expects iterable\\<string\\|Throwable\\>\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/CommunityEvent/EventScrapingTest.php

		-
			message: "#^Cannot call method find\\(\\) on object\\|null\\.$#"
			count: 2
			path: tests/Controller/JobControllerTest.php

		-
			message: "#^Parameter \\#1 \\$createSessionResponse of class App\\\\Tests\\\\Mock\\\\MockStripeClient constructor expects string\\|null, string\\|false given\\.$#"
			count: 2
			path: tests/Controller/JobControllerTest.php

		-
			message: "#^Parameter \\$retrieveSessionResponse of class App\\\\Tests\\\\Mock\\\\MockStripeClient constructor expects string\\|null, string\\|false given\\.$#"
			count: 2
			path: tests/Controller/JobControllerTest.php

		-
			message: "#^Cannot access property \\$data on App\\\\Mailjet\\\\Model\\\\SendCampaignDraft\\\\SendCampaignDraftResponse\\|null\\.$#"
			count: 1
			path: tests/Mailjet/MailjetApiTest.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php

		-
			message: "#^Method App\\\\Tests\\\\Mock\\\\MockStripeClient\\:\\:request\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Mock/MockStripeClient.php

		-
			message: "#^Parameter \\#1 \\$body of class Symfony\\\\Component\\\\HttpClient\\\\Response\\\\MockResponse constructor expects iterable\\<string\\|Throwable\\>\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/News/Aggregator/Atom/ClientTest.php

		-
			message: "#^Parameter \\#1 \\$body of class Symfony\\\\Component\\\\HttpClient\\\\Response\\\\MockResponse constructor expects iterable\\<string\\|Throwable\\>\\|string, string\\|false given\\.$#"
			count: 2
			path: tests/News/Aggregator/RSS/ClientTest.php

		-
			message: "#^Cannot call method setTimezone\\(\\) on DateTimeImmutable\\|false\\.$#"
			count: 2
			path: tests/Provider/PoleEmploi/PoleEmploiApiTest.php

		-
			message: "#^Parameter \\#1 \\$body of class Symfony\\\\Component\\\\HttpClient\\\\Response\\\\MockResponse constructor expects iterable\\<string\\|Throwable\\>\\|string, string\\|false given\\.$#"
			count: 3
			path: tests/Provider/WelcometotheJungle/WelcometotheJungleClientTest.php

		-
			message: "#^Parameter \\#1 \\$body of class Symfony\\\\Component\\\\HttpClient\\\\Response\\\\MockResponse constructor expects iterable\\<string\\|Throwable\\>\\|string, string\\|false given\\.$#"
			count: 3
			path: tests/Provider/WelcometotheJungle/WelcometotheJungleProviderTest.php

		-
			message: "#^Property App\\\\Tests\\\\Repository\\\\InMemoryJobRepository\\:\\:\\$jobs \\(array\\<string, App\\\\Entity\\\\Job\\>\\) does not accept array\\<int\\|string, App\\\\Entity\\\\Job\\>\\.$#"
			count: 1
			path: tests/Repository/InMemoryJobRepository.php
