<p>
    By making a donation you will support open source and boost your job offer by putting it at the <b>top of the list for 6 months</b>!
</p>
<p>Each donation will sponsor Symfony open source ecosystem.</p>

<div class="mt-4 d-flex justify-content-between">
    <small>Any questions? <a href="mailto:hello@jobbsy.dev">Get in touch</a></small>

    <img src="{{ asset('images/powered-by-stripe-black.svg') }}" width="100" alt="">
</div>
