<div class="bg-dark text-light p-4 rounded">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-auto">
            <p class="h5">Subscribe to receive the latest Symfony jobs in your inbox</p>
            <p class="mb-0 d-md-block d-none">Receive a weekly overview of Symfony jobs by subscribing to our mailing list</p>
        </div>
        <div class="col-auto mt-3 mt-md-0">
            {{ form_start(form, {method: 'POST', action: path('subscribe'), attr: {class: 'row gy-2 gx-3 align-items-center'}}) }}
            <div class="col-md-auto col-sm-12">
                {{ form_label(form.email, null, {'label_attr': {'class': 'visually-hidden'}}) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="col-md-auto col-sm-12 d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

