{% extends 'base.html.twig' %}

{% block title %}You cancel your donation | {{ parent() }}{% endblock %}

{% block main %}
    <div class="row mt-4">
        <div class="col-12 col-md-8 offset-md-2 text-center p-5">
            <h1 class="mb-4">Your job offer was successfully posted, but you cancel your donation 🥲</h1>
            <p>If you prefer your can sponsor Symfony on <a href="https://symfony.com/sponsor" target="_blank">symfony.com/sponsor</a></p>
        </div>
    </div>
{% endblock %}
