{% extends 'base.html.twig' %}

{% block title %}Post a Job | {{ parent() }}{% endblock %}

{% block main %}
    <div class="row mt-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {{ include('job/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
