- name: restart php8.1-fpm
  become: true
  service: name=php8.1-fpm state=restarted

#- name: restart caddy
#  become: true
#  service: name=caddy state=restarted

- name: Pull job provider
  ansible.builtin.cron:
    name: "pull job provider"
    minute: "0"
    hour: "*/6"
    job: "php {{ ansistrano_release_path.stdout }}/bin/console app:job-provider:retrieve"

- name: Aggregate news
  ansible.builtin.cron:
    name: "aggregate news"
    minute: "0"
    hour: "*/4"
    job: "php {{ ansistrano_release_path.stdout }}/bin/console app:aggregate-news"

- name: Clear pinned jobs
  ansible.builtin.cron:
    name: "clear pinned jobs"
    minute: "0"
    hour: "0"
    job: "php {{ ansistrano_release_path.stdout }}/bin/console app:clear-pinned"

- name: Send weekly jobs letter
  ansible.builtin.cron:
    name: "Send weekly jobs letter every saturday at 8am"
    minute: "0"
    hour: "10"
    day: "*"
    month: "*"
    weekday: "1"
    job: "php {{ ansistrano_release_path.stdout }}/bin/console app:send-jobsletter"

- name: Restarting Workers
  command: php bin/console messenger:stop-workers
  args:
    chdir: '{{ ansistrano_release_path.stdout }}'

- name: Aggregate events every day at 2am
  ansible.builtin.cron:
    name: "Aggregate events every day at 2am"
    minute: "0"
    hour: "2"
    job: "php {{ ansistrano_release_path.stdout }}/bin/console app:aggregate-events"
