$primary: #3dabde;
$min-contrast-ratio: 2;

@import "~bootstrap/scss/bootstrap";

.pinned {
    border: 1px solid $primary;

    & + & {
        border-top-width: 0;
    }
}

.job-organization-logo {
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 768px) {
    .job-organization-logo {
        width: 60px;
        height: 60px;
    }
}
