{% extends 'base.html.twig' %}

{% block main %}
    <div class="text-center py-4">
        <h1>Page not found</h1>

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('job_index') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}